<h1>Czy odcinki się przecinają?</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'segments:check_intersection'%}" method="post">
{% csrf_token %}
    <h3>Pierwszy odcinek</h3>
    <br>
    <label for="ax">Punkt A - współrzędna x</label>
    <input type="number" step="0.01" name="ax" id="ax">
    <label for="by">Punkt A - współrzędna y</label>
    <input type="number" step="0.01" name="ay" id="ay">
    <br>
    <label for="ax">Punkt B - współrzędna x</label>
    <input type="number" step="0.01" name="bx" id="bx">
    <label for="by">Punkt B - współrzędna y</label>
    <input type="number" step="0.01" name="by" id="by">
    <br>

    <h3>Drugi odcinek</h3>
    <br>
    <label for="cx">Punkt A - współrzędna x</label>
    <input type="number" step="0.01" name="cx" id="cx">
    <label for="cy">Punkt A - współrzędna y</label>
    <input type="number" step="0.01" name="cy" id="cy">
    <br>
    <label for="dx">Punkt B - współrzędna x</label>
    <input type="number" step="0.01" name="dx" id="dx">
    <label for="dy">Punkt B - współrzędna y</label>
    <input type="number" step="0.01" name="dy" id="dy">
    <br>
<input type="submit" value="Sprawdź czy odcinki się przecinają!">
</form>